:root {
  --navsBG: #000F08;
  --navsTXT: #BFC3BA;
  --boxBorders: #31132D;
  --boxBG: #D5D6DE;
  --BG: #E2E3E2;
}
body {
  background-color: var(--BG);
}
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  padding: .7em;
  font-family: 'Amatic SC', cursive, sans-serif;
  font-size: 16pt;
}

nav, footer {
  background-color: var(--navsBG);
  color: var(--navsTXT);
}

footer {
  text-align: center;
  padding: .4em 0 .4em 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

nav a:link, nav a:visited {
  color: var(--navsTXT);
  text-decoration: none;
}
nav a:hover, nav a:active  {
  color: #F0F0F0;
  text-decoration: underline;
}
nav a.active {
  color: #F0F0F0;
}
.primary {
  flex-grow: .4;
  text-align: center;
  font-size: 25pt;
  font-family: 'Cutive Mono', monospace;
}

.head-overlay {
  display: flex;
  justify-content: space-around;
}

/* .flex-container {
 margin-bottom: 1em;
 padding: 1em;
 display: flex;
 flex-direction: row;
 justify-content: space-around;
 align-items: stretch;
 flex-wrap: nowrap;
} */

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em 1em;
  padding: 1em;
}

.top {
  grid-gap: 1em 6em;

}

.grid-item {
  padding: 1em;
}

.left, .center, .right {
  display: flex;
  border: 2px solid var(--boxBorders);
  background-color: var(--boxBG);

}

.one, .three, .five {
  border: 2px solid var(--boxBorders);
}

.two, .four, .six {
  border: 2px solid var(--boxBorders);
  background-color: var(--boxBG);
}

.left  {   grid-area: lt;  }

.center{   grid-area: ct;  }

.right {   grid-area: rt;  }

.one   { grid-area: image1;}

.two   { grid-area: info1; }

.three { grid-area: image2;}

.four  { grid-area: info2; }

.five  { grid-area: image3;}

.six   { grid-area: info3; }

@media screen and (min-width: 400px) {
  .grid-container{grid-template-columns: repeat(1, 1fr);}
  .grid-container { grid-template-areas:
                                          "lt"
                                          "ct"
                                          "rt"
                                          "image1"
                                          "info1"
                                          "image2"
                                          "info2"
                                          "image3"
                                          "info3";}
}

@media screen and (min-width: 550px) {
  .grid-container{grid-template-columns: repeat(6, 1fr);}
  .grid-container { grid-template-areas:
                                          "lt lt ct ct rt rt"
                                          "image1 image1 image1 info1 info1 info1"
                                          "image2 image2 image2 info2 info2 info2"
                                          "image3 image3 image3 info3 info3 info3";}
  .top {
    grid-gap: 1em 2em;
  }

  .right {
    margin-right: 1em;
  }

  .left {
    margin-left: 1em;
  }

}
@media screen and (min-width: 768px) {
  .grid-container{grid-template-columns: repeat(6, 1fr);}
  .grid-container { grid-template-areas:
                                          "lt lt ct ct rt rt"
                                          "image1 image1 info1 info1 info1 info1 "
                                          "image2 image2 info2 info2 info2 info2"
                                          "image3 image3 info3 info3 info3 info3";}
  .top {
    rid-gap: 1em 3em;
  }

  .right {
    margin-right: 1.5em;
  }

  .left {
    margin-left: 1.5em;
  }
}

@media screen and (min-width: 980px) {
  .grid-container{grid-template-columns: repeat(3, 1fr);}
  .grid-container{ grid-template-areas:
                                          "lt ct rt"
                                          "image1 info1 info1"
                                          "image2 info2 info2"
                                          "image3 info3 info3";}

  .top {
    grid-gap: 1em 4em;
  }

  .right {
    margin-right: 2em;
  }

  .left {
    margin-left: 2em;
  }
}
@media screen and (min-width: 1280px) {
  .grid-container{grid-template-columns: repeat(3, 1fr);}
  .grid-container{ grid-template-areas:
                                          "lt ct rt"
                                          "image1 info1 info1"
                                          "image2 info2 info2"
                                          "image3 info3 info3";}
  .top {
    grid-gap: 1em 6em;
  }

  .right {
    margin-right: 3em;
  }

  .left {
    margin-left: 3em;
  }
}
@media screen and (min-width: 1440px) {
  .grid-container{grid-template-columns: repeat(3, 1fr);}
  .grid-container{ grid-template-areas:
                                          "lt ct rt"
                                          "image1 info1 info1"
                                          "image2 info2 info2"
                                          "image3 info3 info3";}
  .top {
    grid-gap: 1em 6em;
  }

  .right {
    margin-right: 3em;
  }

  .left {
    margin-left: 3em;
  }
}
